[user]
	name = XuWentao
	emall = wtao.xu@gmail.com
	email = wtao.xu@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status 
	df = icdiff
	dfc = icdiff --cached
        ps = push --set-upstream
        cp = cherry-pick
[core]
	safecrlf = true
	autocrlf = input
